<section id="pages">
	<audio id="audio" controls>
		<source src="{{ .Params.audio_src }}" type="audio/mpeg">
	Your browser does not support the audio element.
	</audio>
	<div id="audio-player" class="mt-8 flex flex-nowrap justify-around">
		<div class="p-6 mx-auto bg-accent-dark rounded-lg shadow-lg flex items-center space-x-4">
			<div class="flex-shrink-0">
				<img class="h-32 w-32 shadow-md" src="{{ .Params.audio_img }}" alt="{{ .Params.audio_img_alt }}">
			</div>
			<div class="w-full flex flex-col">
				<p class="m-0 md:text-lg sm:text-xs text-white">{{ .Params.title }}</p>
				<div class="relative">
					<div class="mt-3 h-1 w-full relative bg-secondary opacity-40 rounded-full"></div>
					<div id="progress-bar" class="mt-3 h-1 absolute inset-0 rounded-full"></div>
				</div>
				<div class="mb-2 flex flex-row justify-between">
					<div id="current-time">0:00</div>
					<div id="remaining-time">20:00</div>
				</div>
				<div class="m-0 flex flex-row justify-between">
					<button class="m-0 h-12 w-12 relative">
						{{ partial "icons/pause.svg" . }}
						{{ partial "icons/play.svg" . }}
					</button>
					<div class="m-0 flex justify-around w-1/2">
						<button id="rwd-15" class="m-0 h-12 w-12 rounded-full">
							{{ partial "icons/rwd-15.svg" . }}
						</button>
						<button id="fwd-15" class="m-0 h-12 w-12 rounded-full">
							{{ partial "icons/fwd-15.svg" . }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		var audio = document.getElementById('audio');
		var audioPlayer = document.getElementById('audio-player');
		var playpauseBtn = document.getElementById('play-pause');
		var rewindBtn = document.getElementById('rwd-15');
		var forwardBtn = document.getElementById('fwd-15');
		var play = document.getElementById('play');
		var pause = document.getElementById('pause');
		var currentTimeField = document.getElementById('current-time');
		var remainingTimeField = document.getElementById('remaining-time');
		var progressBar = document.getElementById('progress-bar');
		
		// Use custom audio player if js is enabled
		audio.controls = false;
		audioPlayer.style.display = 'block';

		audio.addEventListener('timeupdate', updateTimes);
		playpauseBtn.addEventListener('click', togglePlay);
		rewindBtn.addEventListener('click', function() { seek(-15) });
		forwardBtn.addEventListener('click', function() { seek(15) });
		
		audio.oncanplay = function() {	
			var durationMin = Math.floor(audio.duration / 60);
			var durationSec = audio.duration % 60;
			// Set initial duration
			remainingTimeField.innerText = `${durationMin}:${`${durationSec}`.slice(0, 2)}`;	
		};

		function updateTimes() {
			currentTimeField.innerText = formatTime(audio.currentTime);

			var timeRemaining = audio.duration - audio.currentTime;
			remainingTimeField.innerText = formatTime(timeRemaining);

			var progress = (audio.currentTime / audio.duration) * 100;
			progressBar.style.width = `${progress}%`;
		}

		function togglePlay() {
			audio.paused ?  playAudio() : pauseAudio();
		}

		function playAudio() {
			audio.play();
			pause.style.display = 'block';
			play.style.display = 'none';
		}
		
		function pauseAudio() {
			audio.pause();
			play.style.display = 'block';
			pause.style.display = 'none';
		}

		function seek(interval) { audio.currentTime += interval; }
		
		function formatTime(time) {
			var minutes = Math.floor((time % 3600) / 60);
			var seconds = Math.floor(time % 60);
			var fSeconds = seconds < 10 ? `0${seconds}` : `${seconds}`;
			return `${minutes}:${fSeconds.slice(0, 2)}`;
		}
	</script>
</section>