<section id="pages">
	<div class="text-center w-full">
		<h1 class="my-0 text-4xl sm:text-5xl md:text-6xl">
			{{ .Title }}
		</h1>
	</div>
	<div class="mt-8 flex flex-wrap justify-around">
		<div class="p-6 w-2/3 min-w-max mx-auto bg-accent-dark rounded-lg shadow-lg flex items-center space-x-4">
			<div class="flex-shrink-0">
				<img class="h-32 w-32 shadow-md" src="{{ .Params.content.audio_img }}" alt="{{ .Params.content.audio_img_alt }}">
			</div>
			<div>
				<div class="text-xl font-medium text-white">{{ .Params.content.ep_title }}</div>

			</div>
		</div>
	</div>
</section>