#audio-player {
	display: none;
}

#rwd-15-icon, #fwd-15-icon {
	fill: #f6c3bf;
}

#progress-bar {
	background-color: #f6c3bf;
	width: 0%;
}

#pause {
	display: none;
}

#play {
	display: block;
}

.play-pause {
	position: absolute;
	height: 70%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	fill: #f6c3bf;
}